<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App Consultas</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.1.3/dist/vapor/bootstrap.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">App Consultas</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03"
                aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor03">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="/">Home
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="container mt-5" display="flex" height="50rem" position="absolute" top="0" left="0">

        <div class="col-md-4">
            <div class="card text-white bg-primary mb-3" style="max-width: 30rem;">
                <div class="card-header">Ingrese su consulta</div>
                <div class="card-body">
                    <form action="/consulta" method="POST">
                        <span class="badge badge-dark" for="cars">Escoja su método de búsqueda:</span>

                        <div class=" text-center p-t-8">
                            <select name="KNN" id="KNN" form="form" class="form-control">
                                <option value="RTree">RTree</option>
                                <option value="Sequential">Sequential</option>
                            </select>
                        </div>

                        <div class="K-input">
                            <input type="text" name="KValue" />
                        </div>
                        
                        <div class="file-input">
                            <input type="FILE" name="file" />
                        </div>
                        
                        <div class="form-btn">
                            <input type="submit" value="Enviar" id="btn" class="btn btn-primary">
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>

    </div>
    <footer style="
    margin-left: 10px;
	height: 60px;
	position: relative;
	bottom: 0;">
        Derechos reservados para el curso de Base de Datos 2 en Utec - 2021
    </footer>

</body>

</html>