<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados 1</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.1.3/dist/vapor/bootstrap.min.css">
</head>
<body>
    {% block content %}
<div>
    <h3 class="display-4">Resultados RTree</h3>
</div>
{% set numero = namespace(value=1) %}
{% for element in result %}
<div style="width:250px;display:inline-block;">
    {% set ruta = element['path'].split('/')[-1]%}
    {% set image_name = element['name'] %}
    <img class="" src="{{ url_for('show_image', filename=image_name,directorio=ruta) }}">
    <div class="">
        <p class=""># {{numero.value}} - {{ruta}}</p>
    </div>
    
</div>
{% set numero.value=numero.value+1%}
{% endfor %}

{% endblock %}
</body>
</html>